<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi"
      th:with="isEdit=${item.maCd != null and !#strings.isEmpty(item.maCd)}">
<head th:replace="~{fragments/layout :: head('Chuẩn đoán')}"></head>
<body>
<th:block th:replace="~{fragments/layout :: navbar}"></th:block>
<div class="container my-4"><form th:action="${isEdit} ? @{/chuandoan/update} : @{/chuandoan/save}" th:object="${item}" method="post" class="card card-body row g-3">
    <div class="col-md-3"><label>Mã CD</label><input class="form-control" th:field="*{maCd}" th:readonly="${isEdit}"/></div>
    <div class="col-md-9"><label>Tên *</label><input class="form-control" th:field="*{tenCd}" required/></div>
    <div class="col-12"><label>Mô tả</label><textarea class="form-control" th:field="*{moTa}"></textarea></div>
    <div class="col-12"><a th:href="@{/chuandoan}" class="btn btn-secondary">Hủy</a><button class="btn btn-primary">Lưu</button></div>
</form></div>
<th:block th:replace="~{fragments/layout :: scripts}"></th:block>
</body></html>
